.App {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.Header {
  font-size: 36px;
  color: white;
  padding: 15px 30px;
  background: #3a3e64;
}

.Content {
  font-size: 0;
  vertical-align: top;
}
  
.Categories {
   width: 20%;
   display: inline-block;
   font-size: 20px;
  vertical-align: top;
  padding: 10px 0;
}

.Jokes {
  border: 1px solid blue;
  width: 80%;
  display: inline-block;
  vertical-align: top;
  padding: 10px 0;
}


