.App {
  position: relative;
  min-width: 300px;
}

.Header {
  font-size: 36px;
  color: white;
  padding: 15px 30px;
  background: #3a3e64;
}

.Content {
  font-size: 0;
}

.Categories {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  padding: 10px 0;
}

.Jokes {
  width: 80%;
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
}

@media (max-width: 992px) {
  .Header {
    text-align: center;
  }
  .Categories,
  .Jokes {
    width: 100%;
  }
  .Categories {
    background: #f2f2f2;
  }
}